body{
    margin: 0px;
    letter-spacing: 2px;
    font-family: 'Times New Roman','DFKai-SB';
}

.header{
    background-color: #223344;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    padding: 10px 0px;    
}


section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    border-radius: 15px;
}
.ques{
    text-align: center;
    flex:none;
    width:90%;
    font-size: 18px;
}

.ans{
    text-align: justify;
    flex:none;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 00px;
}

@media (max-width:1250px){
    section{
        margin-left: 125px;
        margin-right: 125px;
    }



    .header{
        font-size: 20px;
    }
    .ques{
        font-size: 16px;
    }
    .ans{
        font-size: 12px;
    }


}

@media (max-width:500px){
    section{
        margin-left: 70px;
        margin-right: 70px;
    }

}